<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
</head>
<body>
    <nav class="navigation">
     {% extends "layout.html" %}
{% block content %}
<div class="abput">
</div>

</nav>
    
<h1>Професионални умения и интереси</h1>
<div class="interests">
        
        
        <div class="skills">
            <h3><b>Технологии за раработка на уеб сайтове</b> </h3>
           <hr></hr>
            <h5>Технлогии, които разучавам в момента</h5>
            <p> Python</p>
            <p>HTML</p>   
            <p>CSS</p>    
                
                
            
         </div>
      

    </div>
   <div class="future">
    <h3><b>Технологии за раработка на уеб сайтове</b> </h3>
    <hr></hr>
    <h5>Технлогии, които тепърва започвам да уча</h5>
        <p>JavaScript</p>
        <p>Bootstrap</p>
        <p>MySQL</p>
        
   
</div>

{% endblock %}

</body>
</html>