<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boris Todorov</title>
</head>
<body>

    
    <nav class="navigation">
        {% extends "layout.html" %}
        {% block content %}
        <div class="home">
        </div>
    </nav>

<main>
   <h1>Накратко за мен</h1>
   
    <div class="content">
        <header>
            <h1>Личен живот</h1>
            <hr></hr>
        </header>
            <p>Роден съм през 2005г.
                Имам интерес към уеб програмиране и затова уча в <a href="https://uktc-bg.com/">НПГ по КТС гр. Правец</a>. Сега е четвърти курс. След като завърша 12 <sup>ти</sup>  клас мисля да продължа в 
                <a href="https://www.tu-sofia.bg/">ТУ- София</a>. </p>


    </div>

        <div class="sidebar">
            <h2>Конакти</h2>
            <hr></hr>
            <div class="facebook"><a href="https://www.facebook.com/profile.php?id=100006198913772">Facebook</a>
            </div>
            <p>Телефон:
                0884031500</p>
            <p>email:
                borisko44@abv.bg</p>

        </div>

</main>
           
   
    {% endblock %}

</body>
</html>